<div fxLayout="column"
  fxLayoutAlign="space-around center">
  <h2>Welcome to PhotoNGram</h2>

  <mat-card class="post"
    *ngFor="let post of posts; index as i"
    fx>
    <mat-card-header>
      <div mat-card-avatar
        class="header-image"></div>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <app-photos [source]='post.Photo'></app-photos>
    {{post.Photo}}
    <mat-card-content>
      <p>
        {{post.body}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>